.default__layout {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  // border: 11px solid black;

  & > header {
    margin-bottom: 36px;
    border-bottom: 8px solid #d79999;
    width: 1180px;
    padding: 6px 14px;

    font-size: 2rem;
    font-weight: bold;
    color: #4b4b4b;
    text-align: start;
  }

  & > section {
    width: 1180px;
  }
}
